# =========================
# Quarto
# =========================
# Quarto build artifacts (HTML, site output, etc.)
_site/
.quarto/
.quarto-cache/


data_unclean/
**/cache/

# =========================
# R
# =========================
.RData
.Rproj.user/
*.Rproj
.RDataTmp3
.RDataTmp4
data.zip
data/opa_properties_public.csv
data/opa_properties_public.geojson
data/phil_properties.csv
labs/lab6/Model9_April27_PPA.qmd

# Renviron / local secrets
.Renviron
.Renviron.*



# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/

# =========================
# Logs / temp
# =========================
*.log
*.tmp
*~
/.quarto/
**/*.quarto_ipynb
.RDataTmp
.RDataTmp1
